CONFIG_BOARD_TOUCHTYPE=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y

# enable GPIO
CONFIG_GPIO=y

# Enable i2c
CONFIG_I2C=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_ZMK_BLE=y

# board板没有 DCDC 电感元件，则需要删除 Kconfig 文件并注释掉以下这行
#CONFIG_BOARD_ENABLE_DCDC=n

# 硬件设定为外围设备，键盘对于主机是外围设置，这是必选项
CONFIG_BT_PERIPHERAL=y

# 设备名称
CONFIG_BT_DEVICE_NAME="TouchCon"


# 启用蓝牙配置存储到 Flash
CONFIG_BT_SETTINGS=y	

# 最多连接多少个设备，这里其实只能使用 1
CONFIG_BT_MAX_CONN=1

# 最多保存多少个已配对设备，超过会覆盖最老的。这里使用 ← 、↓ 、→ 作为切换槽位的按键
CONFIG_BT_MAX_PAIRED=3





#### 电池检测测试 #######

# 启用 ADC
CONFIG_ADC=y

# 启用电池服务 (BLE)
CONFIG_BT_BAS=y
CONFIG_ZMK_BATTERY_REPORTING=y

# 设置电量报告间隔为 120 秒 (2 分钟)
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=120




